<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/logo.png">
    <title>Salon De Style</title>
    <link rel="stylesheet" href="/css/shop/createAccount.css">
  </head>

  <body>

    <div class="row1">

    </div>

    <div class="container">

      <div class="form-left">

        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Quick and free sign-up</h4>
          <h5>Enter your email address to create an account</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Cross-platform solution</h4>
          <h5>Preview your newsletters on any device before sending them out</h5>
        </div>
        <div>
          <i class="fas fa-check"></i>
          <h4>Start sending emails</h4>
          <h5>Use our API or pick our pre-built templates</h5>
        </div>
      </div>
      <div class="form-right">

        <h2>Create your account</h2>
        <form id="form" class="form" action="/shop/createaccount" method="POST" enctype="multipart/form-data">

          <div class="form-control">
            <label for="fullname">User Name</label>
            <input type="text" name="ownername" placeholder="Enter your full name" autocomplete="off">
            <small>Error message</small>
          </div>

          <div class="form-control">
            <label for="password">User Password</label>
            <input type="password" name="pass" id="password" placeholder="Type to create a password">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="password">User confirm Password</label>
            <input type="password" name="conPass" id="password" placeholder="Confirm your password">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="fullname">Shop Category</label>
            <input type="text" name="category" placeholder="Enter your Shop Category" autocomplete="off">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="fullname">Shop Name</label>
            <input type="text" name="shopname" placeholder="Enter your Shop name" autocomplete="off">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="email">Shop Email</label>
            <input type="text" name="shopemail" placeholder="Enter your email address" autocomplete="off" autofocus>
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label for="email">Shop Number</label>
            <input type="text" name="phone" placeholder="Enter your Phone Number" autocomplete="off" autofocus>
            <small>Error message</small>
          </div>

          <div class="form-control">
            <label for="">Location</label>
            <input class="form-control" name="address" type="text" id="us2-address" required />
            <div class="col-md-6">
              <input class="form-control" name="lati" type="hidden" id="us2-lat" hidden />
            </div>
            <div class="col-md-6">
              <input class="form-control" name="long" type="hidden" id="us2-lon" hidden />
            </div>
            <div class="col-md-12">
              <div id="maparea" style="height: 300px;"></div>
              <div class=""></div>
            </div>
          </div>
          <div class="form-control">
            <label class="control-label">Upload File</label>
            <div class="preview-zone hidden">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <div><b>Preview</b></div>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-danger btn-xs remove-preview">
                      <i class="fa fa-times"></i> Remove Image
                    </button>
                  </div>
                </div>
                <div class="box-body"></div>
              </div>
            </div>
            <div class="dropzone-wrapper">
              <div class="dropzone-desc">
                <i class="glyphicon glyphicon-download-alt"></i>
                <p>Choose an image file or drag it here.</p>
              </div>
              <input type="file" name="img" class="dropzone" required>
            </div>
          </div>

          <div class="checkbox-control">
            <input type="checkbox" id="checkbox">
            <label for="update">Get updates and notifications about our product</label>
          </div>
          <button class="btn submitBtn" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </body>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUJfIu3uSSh5QOT5nRZ0gEbeGONrY3pgQ&libraries=places&callback=initAutocomplete"></script>
  <script src='https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js'></script>
  <script src="/js/shop/createAccount.js"></script>

  </body>

  </html>